<a href="https://colab.research.google.com/github/Charanlucky85/Face-mask-detection-/blob/main/python_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=10
r=x %2
if r==0:
  print("even")
else:
  print("odd")

  print("bye")

even

In [ ]:
x=int(input())
if x==1:
  print("one")

elif x==2:
  print("two")

elif x==3:
  print("three")
else:
  print("bye")

4
bye

In [ ]:
x=int(input())
y=int(input())
z=int(input())
if x>y &x>z:
  print("x is greater")
elif y>x & y>z:
  print("y is greater")
else:
  print("z is greater")

56
34
21
x is greater

In [ ]:
i =1
j = 1
while i<=5:
  print("charan")
  while j<=4:
    print("rocks")
    j=j+1

  i = i+1
  print()

charan
rocks
rocks
rocks
rocks

charan

charan

charan

charan

In [ ]:
print the values from 1 to 100 and skip the numbers which are divisible by 3 ,5

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (<ipython-input-31-a40e92b60330>, line 1)

In [ ]:
# prompt: print the values from 1 to 100 and skip the numbers which are divisible by 3 ,5 using while loop

i = 1
while i <= 100:
  if i % 3 != 0 and i % 5 != 0:
    print(i)
  i += 1

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
52
53
56
58
59
61
62
64
67
68
71
73
74
76
77
79
82
83
86
88
89
91
92
94
97
98

In [ ]:
x ="navin"
for i in x:
  print(i)

n
a
v
i
n

In [ ]:
for i in range (1,21):
  if(i%5!=0):

    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [ ]:
# prompt: print all the perfect square number between 1 and 500 using for loop

import math

for i in range(1, 501):
  root = math.sqrt(i)
  if int(root) ** 2 == i:
    print(i)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484

In [ ]:
x = int(input("how many candies you want"))
i = 1
while i <= x:
if i >av:
  print("out of stock")
  break

  print("candy")
  i += 1

how many candies you want5
candy
candy
candy
candy
candy

In [ ]:
for i in range(1,101):
  if i%3==0 and i%5==0:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
50
51
52
53
54
55
56
57
58
59
61
62
63
64
65
66
67
68
69
70
71
72
73
74
76
77
78
79
80
81
82
83
84
85
86
87
88
89
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(1,101):
  if i%2!=0:
    pass
  else:
       print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [1]:
# prompt: print first 50 fibonacci numbers

def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    else:
        list_fib = [0, 1]
        while len(list_fib) < n:
            next_fib = list_fib[-1] + list_fib[-2]
            list_fib.append(next_fib)
        return list_fib

# Print the first 50 Fibonacci numbers
fib_numbers = fibonacci(50)
print(fib_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049]

printing 4*4 matrix with #

In [8]:
for i in range(4):
    for j in range(4):
      print ("#",end="")
    print()

####
####
####
####

printing  the pattern of right angle triangle

In [11]:
for i in range(4):
    for j in range(i+1):
      print ("*",end="")
    print()

*
**
***
****

In [10]:
for i in range(4):
    for j in range(4-i):
      print ("*",end="")
    print()

****
***
**
*

In [12]:
    for i in range(1,5):
      for j in range(1,i+1):
        print(j,end="")
      print()

1
12
123
1234

In [21]:
# prompt: how to print the pattern of 1234,234,34,4 in python

for i in range(1, 5):
  for j in range(i, 5):
    print(j, end="")
  print()

1234
234
34
4

In [29]:
nums =[19,25,34,21,20]
for i in nums:
  if i%5==0:
    print(i)
    break

else:
  print("not found")

25

printing the numbers which are divisible by 5 using break

TO FIND GIVEN NUMBER IS PRIME OR NOT

In [33]:
num = 10
for i in range(2,num):
  if num%i==0:
    print("not prime")
    break

else:
  print("prime")

not prime